* {
    box-sizing: border-box;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
  }

  h1 {
  font-family: 'HenaBoku', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  }

  h2 {
  font-family: 'HenaBoku', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  }

  h3 {
  font-family: 'HenaBoku', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  }

/*========================================================*/

.container {
  display: grid;
  grid-row-gap:    5px;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}

.header {
  color: #efefef;
  background-color: #222;
  display: grid;
  grid-row-start: 2;
  grid-row-end:   4;
}

#col-1{
  color: #c10303;
  background-color: #3c3c3c;
  /*display: grid;*/
  font-family: 'HenaBoku', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.row-1 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.column-1 {
  grid-row-start: 2;
  grid-row-end: 8;
}

.letter {

}

.column-2 {
  grid-row-start: 2;
  grid-row-end: 8;
}

.row-2 {
  grid-column-start: 41;
  grid-column-end: 45;
}

#col-2{
  color: #efefef;
  background-color: #303133;
  font-family: 'HenaBoku', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  /*display: grid;*/
}

#input {
  background-color: white;
}
#resetBtn {
  display: none;
}

#col-3{
  color: white;
  background-color: #3c3c3c;
  font-family: 'HenaBoku', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

.footer {
  color: #efefef;
  background-color: #222;
  /*display: grid;*/
  font-family: sans-serif;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.7);
  animation: slideup 3s linear;
}

.modal-box {
  height: 200px;
  width: 500px;
  background: white;
  margin: 0 auto;
  position: relative;
  top: calc(50vh - 100px);
  box-shadow: 0 0 50px black;
  border-radius: 6px;
}

a.x-btn {
  display: block;
  float: right;
  font-size: 1.5em;
  font-family: sans-serif;
  color: black;
  text-decoration: none;
  padding-right: 10px;
  padding-top: 5px;
}

a.x-btn.hover {
  color: #555;
}

.hide {
  display: none;
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(140px)
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*========================================================*/

  @font-face {
  font-family: "HenaBoku";
  src: url("fonts/Henaboku.tff");
  src:
  url("fonts/Henaboku.woff") format("woff"),
  url("fonts/Henaboku.woff2") format("woff2"),
  url("fonts/Henaboku.svg#filename") format("svg");
  }


/*line-height:
font-size: ;
text-aligh: center*/
